.bar {
    width: 100%;
    height: 15vh;
    background-color: var(--bg-color-bar);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.logo-image {
    height: 13vh;
    width: 25vw;
}

#theme-bar-button {
    width: clamp(1em, 2.5vw, 2.5vw) !important;
    height: clamp(1em, 2.5vw, 2.5vw) !important;
    left: 2vw !important;
    position: absolute !important;
    color: var(--bg-color-black-white);
    transition: all 0.3s ease;
}

.user-section {
    position: absolute;
    font-family: "Nunito", sans-serif;
    right: 2vw;
    display: flex;
    align-items: center;
    gap: clamp(0.5rem, 1vw, 1vw);
}

.user-section>:first-child {
    font-size: clamp(0.5rem, 1.3vw, 1.3vw);
    color: #6237a0;
    font-weight: bold;
}

.profile-picture-container {
    width: clamp(2rem, 4vw, 4vw);
    height: clamp(2rem, 4vw, 4vw);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #6237a0;
}

.profile-picture-container> :first-child {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-picture-container:hover {
    border: 2px solid #9754cb;
    cursor: pointer;
}

.profile-picture-container> :first-child:hover {
    opacity: 75%;
}

.profile-picture-clicked-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(8px);
}

.profile-picture-clicked-container {
    max-width: 90vw;
    /* Maximum width 90% of viewport width */
    max-height: 90vh;
    /* Maximum height 90% of viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture-clicked-container img {
    width: auto;
    /* Maintain original aspect ratio */
    height: auto;
    max-width: 100%;
    /* Ensure it fits within the container */
    max-height: 100%;
    object-fit: contain;
}