.transaction-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.transaction-form-content {
    width: clamp(600px, 60vw, 60vw);
    height: clamp(400px, 60vh, 60vh);
    background: var(--bg-color-white-black);
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease !important;
}

.transaction-form-heading {
    color: var(--bg-color-black-white);
    transition: all 0.3s ease;
    font-family: "Nunito", sans-serif;
    font-size: clamp(1rem, 2vw, 2vw);
    font-weight: bolder;
    padding-left: 2vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-right: 2vw;
    width: 100%;
    text-align: left;
}

.transaction-form-body {
    padding-top: 0;
    padding-right: 2vw;
    padding-bottom: 4vh;
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
}

.transaction-form-body> :nth-child(1) {
    display: flex;
}

.transaction-form-body> :nth-child(2) {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.transaction-form-footer {
    padding: 0 1.5rem 1.5rem 1.5rem;
    display: flex;
    justify-content: flex-end;
}

.input-field-focused-outline.Mui-focused fieldset {
    border-color: #6237a0 !important;
}

.input-field-outline-err.Mui-focused fieldset {
    border-color: red !important;
}

.input-field-focused-label.Mui-focused {
    color: #6237a0 !important;
}

.input-field-label-err.Mui-focused {
    color: red !important;
}

.input-field-type-select {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
}

.transaction-form-button {
    font-family: "Nunito", sans-serif !important;
    text-transform: none !important;
    font-size: clamp(0.7rem, 1.2vw, 1.2vw) !important;
    font-weight: 650 !important;
    letter-spacing: 0 !important;
}

#close-button {
    background-color: var(--panel-color) !important;
    transition: all 0.3s ease !important;
    box-shadow: none !important;
    color: #6237a0 !important;
}

#enabled-submit-button {
    color: #6237a0 !important;
    background-color: var(--bg-color-white-black) !important;
    border-color: #6237a0 !important;
    margin-right: 1rem !important;
}

#disabled-submit-button {
    color: var(--bg-color-3) !important;
    background-color: var(--bg-color-white-black) !important;
    border-color: var(--bg-color-3) !important;
    margin-right: 1rem !important;
}

.payment-method-group {
    width: 100%;
    margin-left: 1rem;
    font-size: clamp(0.5rem, 1vw, 1vw) !important;
}

.payment-method-group> :nth-child(1),
.input-field-menu-list-label {
    color: rgba(0, 0, 0, 0.6);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
}

.input-field-menu-list-label {
    color: var(--bg-color-3);
}

.payment-method-group> :nth-child(2) {
    display: flex;
}

.payment-method-button {
    color: var(--bg-color-3) !important;
    background-color: var(--bg-color-white-black) !important;
    border: 0.1rem solid var(--bg-color-3) !important;
    font-family: "Nunito", sans-serif !important;
    text-transform: none !important;
    font-weight: bold !important;
    box-shadow: none !important;
    flex: 1 !important;
}

.payment-method-button:hover:not(.payment-method-clicked-button) {
    color: #9754cb !important;
    border: 0.1rem solid #9754cb !important;
}

.payment-method-clicked-button {
    color: #6237a0 !important;
    background-color: #d592f4 !important;
    border: 0.1rem solid #6237a0 !important;
}

.input-amount-type-field-text {
    color: var(--amount-type-switch-color) !important;
    font-family: "Nunito", sans-serif !important;
    text-transform: none !important;
    font-weight: 400 !important;
}

.MuiMenu-paper {
    background-color: var(--bg-color-white-black) !important;
}