@import url('../../IndexComponent/style/Board.css');

#dashboard-body {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5rem;
    overflow: hidden;
}

#dashboard-body> :nth-child(1) {
    grid-row: span 2;
    grid-column: span 3;
    margin: 0.5rem 0 0 0.5rem !important;
}

#dashboard-body> :nth-child(3) {
    grid-row: span 4;
    grid-column: span 3;
    margin: 0 0 0.5rem 0.5rem !important;
}

#dashboard-body> :nth-child(2) {
    grid-row: span 2;
    grid-column: span 3;
    margin: 0.5rem 0.5rem 0 0 !important;
}

#dashboard-body> :nth-child(4) {
    grid-row: span 2;
    grid-column: span 3;
    margin: 0 0.5rem 0 0 !important;
}

#dashboard-body> :nth-child(5) {
    grid-row: span 2;
    grid-column: span 3;
    margin: 0 0.5rem 0.5rem 0 !important;
}

.dashboard-body-component {
    border-radius: 0.5rem;
    background-color: var(--bg-color-white-black);
    padding: 0.5rem;
    transition: all 0.3s ease;
}

.dashboard-body-component> :nth-child(1) {
    font-family: "Nunito", sans-serif;
    font-size: 1.2rem;
    font-weight: 650;
    color: var(--bg-color-black-white);
    transition: all 0.3s ease;
}

.weekly-expense-component-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.weekly-expense-component-content>* {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    font-weight: 650;
}

.upcoming-transaction>:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.upcoming-transaction-item {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem;
}

.upcoming-transaction-item> :first-child {
    flex: 2;
}

.upcoming-transaction-item-text {
    flex: 8;
    display: flex;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
    overflow: hidden;
}

.upcoming-transaction-item-text> :first-child {
    font-size: 1rem;
    font-weight: 650;
    color: var(--bg-color-black-white);
    transition: all 0.3s ease;
}

.upcoming-transaction-item-text> :last-child {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--bg-color-2);
    transition: all 0.3s ease;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease;
}

.notification-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    font-weight: 650;
    margin-top: 1rem;
}

.emergency-fund-body {
    margin-top: 1rem;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    font-weight: 650;
    color: var(--bg-color-2);
    transition: all 0.3s ease;
}

.meter-container {
    background-color: #d592f4;
    border-radius: 1rem;
    height: 0.5rem;
}

.meter-fill {
    background-color: #9754cb;
    border-radius: 1rem;
    height: 0.5rem;
}

.achievement-body {
    padding-top: 1rem;
    display: flex;
    gap: 3rem;
    overflow: hidden;
    cursor: pointer;
}

.achievement-body-mask:hover {
    opacity: 0.8;
    color: var(--bg-color);
    transition: all 0.3s ease;
}

.achievement-body-item {
    flex: 1;
    height: 4rem;
    width: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.achievement-body-item> :first-child {
    height: 80%;
    width: 80%;
}

.achievement-body-item> :last-child {
    font-family: "Nunito", sans-serif;
    font-size: 0.8rem;
    white-space: nowrap;

    text-overflow: ellipsis;
    color: var(--bg-color-2);
    transition: all 0.3s ease;
}

.alert-dialog-description {
    font-family: "Nunito", sans-serif !important;
    text-transform: none !important;
    color: var(--bg-color-2) !important;
    transition: all 0.3s ease !important;
    font-size: 1rem !important;
    padding: 2rem;
}

.achievement-dialog-body {
    height: fit-content;
    width: fit-content;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr !important;
    grid-template-rows: 1fr 1fr 1fr !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 3rem;
}