.container {
    width: 100vw;
    height: 100vh;
    background: #6237a0;
    display: flex;
    align-items: center;
}

.input-container {
    width: 25vw;
    transition: all 0.3s ease;
    background: var(--bg-color-white-black);
    position: relative;
    display: flex;

    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: 0px 10px 20px hsla(283, 100%, 86%, 0.2),
        10px 0px 20px rgba(234, 183, 255, 0.2),
        -10px 0px 20px rgba(234, 183, 255, 0.2),
        0px -10px 20px rgba(234, 183, 255, 0.2);
    font-family: "Nunito", sans-serif !important;
    padding-left: 2vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-right: 2vw;
    margin: 0 5vw 0 5vw;
}

.input-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.logo-content>* {
    font-family: "Smooch Sans", serif;
    font-size: clamp(1rem, 3vw, 3vw);
}

.login-logo-image {
    width: 30vw;
    height: 30vh;
    align-self: center;
    margin-top: 2vh;
}

.logo-background-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-background-image {
    width: 50%;
    height: 40%;
    align-self: center;
}

.logo-container {
    flex: 1;
    height: 100%;
    background: var(--bg-color-white-black);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.timeline-icon {

    width: 80% !important;
    height: 20% !important;
}

.input-box-heading {
    color: var(--bg-color-black-white);
    font-size: clamp(1rem, 2vw, 2vw);
    font-weight: bolder;
    text-align: left;
}

.page-number-container {
    display: flex;
    gap: clamp(0.5rem, 1vw, 1vw);
    font-family: "Nunito", sans-serif !important;
    font-size: clamp(0.5rem, 1vw, 1vw);
    color: var(--bg-color-3);
    transition: all 0.3s ease;
    align-items: center;
    justify-content: center;
}

.login-component-button {
    width: 100%;
    font-family: "Nunito", sans-serif !important;
    text-transform: none !important;
    font-size: 0.8rem !important;
    font-weight: 650 !important;
    letter-spacing: 0 !important;
    color: var(--bg-color-white-black) !important;
    transition: all 0.3s ease !important;
    background-color: #6237a0 !important;
    margin-top: 6vh !important;
}

.login-component-button:hover {
    background-color: #9754cb !important;
}

.disabled-login-button {
    background-color: var(--bg-color-3) !important;
    transition: all 0.3s ease !important;
}

.disabled-login-button:hover {
    background-color: var(--bg-color-3) !important;
    transition: all 0.3s ease !important;
}

.login-footer {
    margin-top: 4vh;
    font-size: clamp(0.5rem, 1vw, 1vw);
    font-weight: 500;
    color: var(--bg-color-2) !important;
    transition: all 0.3s ease !important;
}

.input-field-outline-disabled.Mui-focused fieldset {
    border-color: var(--bg-color-3) !important;
    transition: all 0.3s ease !important;
}

.input-field-label-disabled.Mui-focused {
    color: var(--bg-color-3);
    transition: all 0.3s ease !important;
}

.input-field-focused-outline.Mui-focused fieldset {
    border-color: #6237a0 !important;
}

.input-field-outline-err fieldset {
    border-color: red !important;
}

.input-field-focused-label.Mui-focused {
    color: #6237a0 !important;
}

.input-field-label-err {
    color: red !important;
}

.sign-up-hyperlink {
    color: #6237a0;
    cursor: pointer;
    text-decoration: underline;
}

.sign-up-hyperlink:hover {
    color: #9754cb;
}

.checkbox-label {
    color: var(--bg-color-2);
    transition: all 0.3s ease !important;
    font-size: clamp(0.5rem, 1vw, 1vw);
    font-weight: 650;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"] {
    accent-color: #6237a0;
    /* Change to any color */
}

.forgot-password-hyperlink {
    color: #6237a0;
    cursor: pointer;
    text-decoration: underline;
    font-size: clamp(0.5rem, 1vw, 1vw);
    font-weight: 500;
}

.forgot-password-hyperlink:hover {
    color: #9754cb;
}

.send-code-button-container {
    width: 5vw;
    display: flex;
}

.countdown-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    font-family: "Nunito", sans-serif !important;
    color: #6237a0 !important;
    pointer-events: none;
}